<%- include("head", {title: title}); -%>
<%- include("style"); -%>
  </head>
  <body>

<%- include("nav") -%>
<main>

  <section class="py-2 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
          <form action="" method="post">
          <input type="file" class="btn btn-primary my-2" name="flu">
          <input type="submit" class="btn btn-primary my-2" name="btm" value="Upload">
          </form>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% foto.forEach(function(ft){ %>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="/img/<%= ft.path %>" width="100%" height="225">
            <div class="card-body">
              <p class="card-text"><%= ft.name %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="/img/<%= ft.path %>">View</a>
                  
                  <a href="/edit/del/<%= ft.id %>" type="button" class="btn btn-sm btn-outline-danger">Delete</a>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
        <!-- END Album list-->
      </div>
    </div>
  </div>

</main>
<%- include("foot"); -%>

    <script src="/dist/js/bootstrap.bundle.js"></script>
      
  </body>
</html>
